<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link rel="stylesheet" href="../styleinicio.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../logo.png" alt="Logo">
           <div class="titulos">
           <h1>Facultad de Ingenieria</h1>
           <h2>Por supuesto que puedes mejorar</h2>
           </div>
        </div>
       <div class="menu">
           <ul>
               <li><a href="index">Inicio</a></li>
               <li><a href="">Acerca de</a></li>
               <li><a href="">Carreras</a></li>
               <li><a href="">Noticias</a></li>
               <li><a href="">Contacto</a></li>
           </ul>
       </div>
   </div>
   <aside>
   <a href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a>
   <a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Academico</a>
   </aside>
   <section>
   <img src="/fiunju.jpg">
   <p>La Universidad nace el 25 de mayo de 1972 como universidad provincial y al año siguiente
   se transforma en Universidad Nacional. Comienza a funcionar sobre la base de cuatro carreras:
   Ingeniería Agronómica, Ingeniería de Minas, Ingeniería Metalúrgica e Ingeniería Química. Su 
   propósito fue apuntalar las actividades de explotación e industrialización de los recursos 
   naturales de Jujuy. Las tres últimas carreras mencionadas pasan a constituir la actual Facultad
    de Ingeniería que, con el transcurso de los años, sumó a ellas un número importante de otras
     carreras.

Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de Ingeniería, 
tienden a ampliar el área de influencia y a fortalecer su acción institucional, en respuesta a la
 demanda social creciente de formación de recursos humanos que contribuyan al desarrollo científico,
  tecnológico y cultural.</p>
   </section>
   <h1>Noticias recientes</h1>
   <section class="news">
   	<section>
            <a href="https://www.fi.unju.edu.ar/unju/4580-campana-de-vacunacion-unju-2024.html">
            <img src="https://fi.unju.edu.ar/images/2024-Noticias/vacunacion-unju-2024.jpg">
            <h1>Campaña de vacunación UNJu 2024</h1>
            <h2>El día 29 de mayo del corriente, en el Aula Pelayo Pena de la Escuela de Minas "Dr. Horacio 
            Carrillo" de la UNJu, se realizará una Jornada de Vacunación destinada a Estudiantes,</h2>
            </a>
        </section>
        <section>
            <a href="https://www.fi.unju.edu.ar/alumnos-noticias/4583-convocatoria-beca-unisa-aa-2024-2025-universita-degli-studi-di-salerno.html">
            <img src="https://fi.unju.edu.ar/images/2024-Noticias/universita-degli-studi-di-salerno.jpg">
            <h1>Convocatoria “Beca UNISA” AA 2024/2025 | Università degli Studi di Salerno</h1>
            <h2>La Università degli Studi di Salerno ofrece 5 becas en maestrías en ingeniería para estudiantes
             de Argentina, que cubren el 100% de los gastos de la carrera, la estadía y un estipendio adicional
              para viáticos y otros gastos.</h2>
            </a>
        </section>
        <section>
            <a href="https://www.fi.unju.edu.ar/noticias-generales/4576-52°-aniversario-de-la-facultad-de-ingenieria-de-la-unju.html">
                <img src="https://fi.unju.edu.ar/images/2024-Noticias/FB_IMG_1716512587421.jpg">
            <h1>52° Aniversario de la Facultad de Ingeniería de la UNJu</h1>
            <h2>Y lo festeja con una riquísima chocolatada, mañana viernes 24 de mayo a las 10.00 hs en el patio de Decanato 
            Quedan todos invitados!</h2>
            </a>
        </section>
   </section>
</body>
<footer>
    <div>
    	<div>
        <h3>Información de Contacto de la Facultad</h3>
        <ul>
            <li><p>Ítalo Palanca Nº 10-San Salvador de Jujuy-Jujuy-Argentina</p></li>
            <li><p>388-422-1576</p></li>
            <li><p>info@fi.unju.edu.ar</p></li>
        </ul>
        </div>
        <div>
        <h3>Enlaces a Redes Sociales</h3>
        <ul>
            <li><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
            <li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">YouTube</a></li>
            <li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju/">Linkedin</a></li>
            <li><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
    	</ul>
    	</div>
    </div>
    <div>
    Copyright © 2014-2022 - Facultad de Ingeniería - UNJu
    </div>
</footer>
</html>